* {
    margin: 0;
    padding: 0;
}
    /* normalization */

body {
    background-image: url("../assets/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-family: Jetbrains Mono;
}

nav a {
    color: white;
    padding: 14px 20px 14px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: crimson;
}

nav a.menu_right {
    float: right;
}

nav a.menu_left {
    float: left;
}

/* Centering the button */
.dropdown {
    float: right;
    position:  relative;
}

/* Styling the dropdown */
.dropdown button {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent; 
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
}

.dropdown .content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: transparent;
    min-width: 150px;
    box-shadow: 2px 2px 5px black;
    z-index: 1;
}

.dropdown .content a {
    text-align: center;
    display: block;
    text-decoration: none;
}

.dropdown:hover .content{
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Styling the highlights webpage */
.goals {
    color: blanchedalmond;
    text-align: center;
}

.goals h3 {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Flexbox */
/* Left side */
.search-menu {
	flex: 25%;
	padding: 10px 20px;
}

/* Right side */
.highlights {
	flex: 70%;
	padding: 10px 20px;
}

.flex_container {
    clear: both;
	display: flex;
	flex-wrap: nowrap;
}

/* Style the search box */
#userInput {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myList li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
}

#myList li a:hover {
    background-color: #eee;
}